<hr />
<div>Order {{orderID}} for {{orderName}}</div>
{{!-- <p>The order is ready. Total Price: {{totalPrice}}</p> --}}
{{order-status totalPrice = totalPrice}}
{{my-component orderID = orderID testInController = "testInController"}}
<hr />